<po-widget [p-title]="titulo">
<po-container p-no-shadow="true" p-no-border="true" class="po-md-12">
    <po-container p-no-shadow="true" p-no-border="true" class="po-md-6">
        <po-input name="url_servico" p-label="Link Serviço Protheus" (())>
        </po-input>
    </po-container>
    <po-container p-no-shadow="true" p-no-border="true" class="po-md-4 po-mt-4 po-pl-0">
        <po-button p-label="OK" (p-click)="addServico()">
        </po-button>
    </po-container>
</po-container>
</po-widget>